@font-face {
    font-family: 'Roboto';
    src: url('assets/Roboto.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    display: flex;
    height: 100vh;
    padding: 16px 16px 16px 4px;
    background-color: #7d929e;
}

aside {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.tools li {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.tool {
    background-color: #c6c6c6;
    outline: 2px solid black;
    border: 2px solid white;
    border-radius: 2px;
}

.tool:hover {
    background-color: white;
}

.tools .active {
    background-color: white;
}

ul.colors {
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px;
    gap: 0;
}

.inset {
    border: 2px solid black;
    border-radius: 2px;
    outline: 2px inset #adcade;
}

.colors li {
    width: 25px;
    height: 25px;
}

aside div {
    display: flex;
    flex-direction: column;
}

.textInput {
    padding: 1px 1px 4px 4px;
    outline: 2px solid white;
    border: 2px solid black;
    border-radius: 2px;
}

button {
    background-color: #c6c6c6;
    padding: 2px 2px 4px 4px;
    outline: 2px solid black;
    border: 2px solid white;
    border-radius: 2px;
}

button:hover {
    background-color: white;
}

button:active {
    background-color: #7c919d;
}

main {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    outline: 2px solid white;
    border: 2px solid black;
    border-radius: 2px;
    background-color: #655561;
    overflow: auto;
}

canvas {
    outline: 2px solid black;
    width: 720px;
    height: 480px;
    background-position: 0px 0px, 10px 10px;
    background-size: 20px 20px;
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}
